.bungee-tint-regular {
    font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.nerko-one-regular {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nerko One", cursive, sans-serif;
}
html {
    min-height: 100%;
    background-image: url('https://motionbgs.com/media/3249/astronaut-in-outer-space.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
body {
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container {
    display: flex;
    margin: auto 25px auto auto;
    width: 1200px;
    gap: 70px;
    padding: 60px 40px;
    background: #ffffff82;
    border-radius: 150px;
    align-items: flex-start;
    align-content: flex-end;
    justify-content: space-between;
}
.welcome-display img {
    display: block;
    margin: auto;
    user-select: none;
    max-width: 270px;
}
.welcome-display h1 {
    display: flex;
    font-family: "Bungee Tint", sans-serif;
    font-size: 2.5rem;
    text-align: center;
    justify-content: center;
}
.welcome-display p {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px 0px;
    font-size: 2rem;
}
.welcome-display ol {
    text-align: left;
    padding: 0px 0px 0px 30px;
    font-size: 1.3rem;
}
.game-box {
    margin: auto;
    display: flex;
    flex-direction: column;
}
.word-display {
    gap: 10px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.word-display .letter {
    width: 28px;
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 40px;
    text-transform: uppercase;
    border-bottom: 3px solid #000;
}
.word-display .letter.guesses {
    margin: -40px 0 35px;
    border-color: transparent;
}
.game-box h4 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.game-box .incorrect-guesses b {
    color: #ff0000;
}
.game-box .keyboard {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
}

:where(.results-display, .keyboard) button {
    color: rgb(0, 0, 0);
    border: black solid 2px;
    outline: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 4px;
    text-transform: uppercase;
    background: rgb(189, 28, 28);
}
.keyboard button {
    padding: 7px;
    width: calc(100% / 9 - 5px);
}
.keyboard button[disabled] {
    pointer-events: none;
    opacity: 0.6;
}
:where(.results-display, .keyboard) button:hover {
    background: rgb(255, 255, 255);
}
.results-display {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    background: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    padding: 0 10px;
    transition: opacity 0.4s ease;
}
.results-display.show {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.4s 0.4s ease;
}
.results-display.content {
    padding: 30px;
    max-width: 420px;
    width: 100%;
    border-radius: 10px;
    background: #fff;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.content img {
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 130px;
    margin: auto auto 20px auto;
}
.results-display h4 {
    font-size: 2rem;
    text-align: center;
    margin: auto;
}
.results-display p {
    font-size: 1.5rem;
    margin: auto auto 15px auto;
    font-weight: 500;
    text-align: center;
}
.results-display button {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 5px 10px;
    margin: auto;
}